{% extends "base.html.twig" %}

{% block title %}
    ProjetGames | Profil
{% endblock %}

{% block body %}

<main id="fdepageprofil">

<div id="base_profil">

  {% for message in app.flashes('success') %}

    <div class="col-8 mx-auto text-center bg-success p-3 text-white mb-3">
      {{ message }}
    </div>

  {% endfor %}

  <div id="card_profil" class="rounded mx-auto shadow p-3">
    <div>
      <h5 class="text-center m-0">Profil</h5>
      {% if app.user.roles.0 == "ROLE_ADMIN" %}
        <small class="text-center">Connecté en tant qu'admin</small>
      {% endif %}
      <hr class="my-2">
    </div>
    <div id="profil_resp">
      <div class="d-flex p-0 h-100 align-items-center justify-content-center">
        <img src="{{ asset('uploads/photos/' ~ app.user.avatar) }}" alt="Votre avatar" class="col-8 img-responsive">
      </div>
      <div class="h-100 ">
        <div class="d-flex flex-column h-100 mx-auto">
          <p><small>Prénom : </small><br>{{ app.user.prenom }}</p>
          <p><small>Nom : </small><br>{{ app.user.nom }}</p>
          <p><small>Mail : </small><br>{{ app.user.email }}</p>
          <p><small>Pseudo : </small><br>{{ app.user.pseudo }}</p>
        </div>
      </div>
    </div>
    <div class="mx-auto text-center">
      <a href="{{ path('game_profil_update', {'id': app.user.id}) }}" class="btn text-center"><small>Modifier</small></a>
    </div>
  </div>

</main>

{% endblock %}