{% extends "base.html.twig" %}

{% block title %}
  GamesProjet | Bienvenue
{% endblock %}

{% block body %}
<div id="blog_home">
  <div class="text-center" id="partie1">
    <div class="mx-auto my-5">
      <h1 class="col-8 col-md-6 col-sm-8 mx-auto text-center" id="titre1">Retrolik</h1>
      <p class="col-8 col-md-5 col-sm-6 mx-auto lead fw-normal my-5" id="titre2">Une expérience immersive</p>
      <a class="btn" href="{{ path('game_jeux') }}" id="titre3">Insert coins to begin</a>
    </div>
  </div>

  <div>

      <h1 class="text-center my-5" id="lastjeux">Derniers jeux mis en ligne</h1>

      <div class="container d-flex flex-wrap justify-content-around">

        {% for game in dernierjeu|slice(0,3) %}

        <div id="home_body" class="bd-highlight text-center mb-3 mx-2">
          <a href="{{ game.Lien }}" class="text-decoration-none">
            <div class="border border-dark d-flex flex-column carte1">
              <div class="mt-4 mx-auto border border-dark rounded bg-light">
                <h2 class="m-0 p-2 titreCarteHome">{{ game.titre }}</h2>
              </div>
              <div class="card-disquette border border-dark rounded mt-4 p-1 mb-2 mx-auto">
                <img class="cadreDisquetteHome" src="{{ asset('uploads/photos/' ~ game.Img) }}" alt="Card image cap">
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>

      <div class="my-5 text-center">
        <a href="{{ path('game_jeux') }}" class="btn col-10 col-md-6 col-sm-6" id="boutonhome">Voir les autres jeux</a>
      </div>

  </div>

</div>
{% endblock %}