{% extends 'base.forum.html.twig' %}

{% block title %}
  Retrolik | Forum
{% endblock %}

{% block body %}
  <main class="d-flex flex-row flex-wrap mx-auto p-4" id="body_forum">
    <div id="div_page_forum" class="col-12 col-md-6 col-sm-12">

      {% if app.user %}
        <span class="fs-4 text-black topic">
          <a id="creerTopic" href="{{ path('forum_add_article') }}" class="btn btn-success d-block col-10 col-sm-8 col-md-8 mx-auto my-2" style="text-decoration: none">
            Créer un article
          </a>
        </span>
      {% endif %}


      <table class="table text-center table_forum">
          <tr>
            {% for data in table %}
              {% if data != 'id' and data != 'contenu' %}

                <th class="border-0 titreArticleForum">
                  {{ data|capitalize }}
                </th>

              {% endif %}

            {% endfor %}

          </tr>

        {% for art in article %}

          <tr class="text-white">

            <td><a class="text-white" href="{{ path('forum_show', {'id': art.id}) }}"> {{ art.titre }} </a></td>

            <td>{{ art.user.pseudo }}</td>

            <td>{{ art.date|date('d/m/Y') }} le {{ art.date|date('H:i:s') }}</td>

          </tr>

        {% endfor %}

      </table>
    </div>

    <div class="text-center col-12 col-md-6 col-sm-12 my-2">

      <span class="text-black topic">
      Catégories : <br>

      {% for art2 in cat %}
      <a class="liensCat" href="{{ path('forum_cat', {'id': art2.id }) }}">{{ art2.nom }}<br></a>
      {% endfor %}

      </span>

    </div>

  </main>
{% endblock %}